<header class="header">
    <div class="inner2">
        <div>
            <a href="#" class="logo">
                <img src="./../img/logo.png" alt="logo">
            </a>
        </div>
        <div class="contacts">
            <a href="tel:+7 (123) 123 45 67"><span>Тел. сот: </span><span>+7 (123) 123 45 67</span></a>
            <a href="tel:+7 (123) 123 45 67"><span>Тел. сот: </span><span>+7 (123) 123 45 67</span></a>
        </div>
        <div class="contacts">
            <a href="tel:+7 (123) 123 45 67"><span>Тел.: </span><span>+7 (123) 123 45 67</span></a>
            <a href="mailto:Alyanselectro@mail.ru" class="mail">Alyanselectro@mail.ru</a>
        </div>
        <div>
            <a href="#" class="button button-call-fancy">Заказать звонок</a>
            <div class="contact-modal" style="display: none">
                <div class="con-mod-wrap">
                    <div class="con-mod-title"></div>
                    <input type="text" placeholder="Телефон или e-mail" class="inputbox">

                    <input type="text" placeholder="Имя" class="inputbox">

                    <div class="button">
                        <button>Отправить заявку</button>
                    </div>
                    <a href="#" class="button">Заказать звонок</a>
                    <div class="work-times"></div>
                </div>
                <div class="con-mod-thanks">
                    <div class="con-mod-title">Благодарим. </div>
                    <div class="con-mod-title"> Ваше сообщение <br>
                        успешно отправлено</div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <ul>
            <li class="active"> <a href="#">О компании</a> </li>
            <li class="more">
                <a href="#">Каталог услуг</a>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </li>
            <li class="more">
                <a href="#">Наши проекты</a>
                <ul>
                    <li><a href="">Квартиры и загородные дома</a></li>
                    <li><a href="">Офисы</a></li>
                    <li><a href="">Кафе и рестораны</a></li>
                    <li><a href="">Магазины и торговые центры</a></li>
                </ul>
            </li>
            <li> <a href="#">Отзывы</a> </li>
            <li> <a href="#">Новости</a> </li>
            <li> <a href="#">Вопрос - Ответ</a> </li>
            <li> <a href="#">Контакты</a> </li>
        </ul>
    </div>
</header>
