<div id="contact-modal" class="modal-style">
    <div class="modal-style__wrap">
        <div class="modal-style__title">Оставьте свои координаты,<br>и наши специалисты сами свяжутся с Вами</div>
        <form action="" class="modal-style__form">
            <div class="input-block">
                <input type="text" placeholder="Телефон*" class="inputbox" required>
            </div>
            <div class="input-block">
                <input type="text" placeholder="Ваше имя*" class="inputbox" required>
            </div>
            <button type="submit" class="button">Заказать звонок</button>
        </form>
        <div class="modal-style__text">Наши операторы работают с 9:00 до 20:00</div>
    </div>
</div>
<div id="thanks-modal"  class="modal-style">
    <div class="modal-style__wrap">
        <div class="modal-style__title">Благодарим.<br><br>Ваше сообщение <br>успешно отправлено</div></div>
    </div>
</div>