.header{
  .inner2{
    max-width: 985px;
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
  }
  .button{
    display: block;
    text-decoration: none;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #FF6600;
    &:hover{
      background-color:#FF9000;
    }
  }
  a{
      display: block;
      text-decoration: none;
      span:first-child{
        color: #666666;
      }
      span:last-child{
        color: #333333;
        font-size: 18px;
      }
      &.mail{
        color: #0e569e;
      }
  }
  .contacts{
    line-height: 28px;
  }
  &-menu{
    background-color:#0E569E;
    >ul{
      max-width: 985px;
      width: 98%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      padding: 0;
      min-height: 60px;
      height: 60px;
      align-items: center;
      >li{
        height: 100%;
        flex-grow: 1;
        >a{
          color: #fff;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 100%;
        }
        &:hover,&.active{
          >a{
            background: #f60;
          }
        }
        &.more{
          position: relative;
          &:after{
            content:'';
            position: absolute;
            display: block;
            width: 9px;
            height: 6px;
            background-image: url(../img/arow.png);
            background-position: left center;
            left: 50%;
            margin-left: -4.5px;
            bottom: 9px;
          }
          ul{
            display: none;
          }
        }
      }

    }
  }
}
@media screen and (max-width:880px){
.header{
  .inner2{
    flex-direction: column;
    >div{
      margin: 5px auto;
    }
  }
}
a.mail{
  text-align: center;
}
.header-menu{
  padding: 20px 0px;
  ul{
    flex-direction: column;
    .more{
      &:after{
        display: none;
      }
    }
    li{
      margin: 5px 0px;
    }
  }
}
}