.header {
  .inner2 {
    max-width: 985px;
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
  }

  .button {
    display: block;
    text-decoration: none;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #FF6600;

    &:hover {
      background-color: #FF9000;
    }
  }

  a {
    display: block;
    text-decoration: none;

    span:first-child {
      color: #666666;
    }

    span:last-child {
      color: #333333;
      font-size: 18px;
    }

    &.mail {
      color: #0e569e;
    }
  }

  .contacts {
    line-height: 28px;
  }

  &-menu {
    background-color: #0E569E;

    >ul {
      max-width: 985px;
      width: 98%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      padding: 0;
      min-height: 60px;
      height: 60px;
      align-items: center;
      position: relative;
      >li{

        height: 100%;
        flex-grow: 1;

        >a {
          color: #fff;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 100%;
        }

        &:hover,
        &.active {
          >a {
            background: #f60;
          }
        }

        &.more{
          >a{
            position: relative;
            &:after{
              content:'';
              position: absolute;
              display: block;
              width: 9px;
              height: 6px;
              background-image: url(../img/arow.png);
              background-position: left center;
              left: 50%;
              margin-left: -4.5px;
              bottom: 9px;
            }
          }

          ul {
            display: none;
            background: #ff6600;
          }
        }
      }

    }
  }
}
@media screen and (min-width:881px){
  .header {
    &-menu {
      >ul {
        >li{
          &.more{
            ul {
              position: absolute;
              left: 0;
              top: 100%;
              width: 100%;
              box-sizing: border-box;
              z-index: 10;
              padding: 30px;
              flex-wrap: wrap;
              li{
                margin-bottom: 13px;
                position: relative;
                padding-left: 15px;
                width: 33.33%;
                box-sizing: border-box;
                padding-right: 3.5%;
                &::before{
                  content: "";
                  display: block;
                  width: 5px;
                  height: 5px;
                  border-radius: 100%;
                  background: #ffffff;
                  position: absolute;
                  left: 0;
                  top: 7px;
                }
                a{
                  color: #0e569e;

                }
              }

              &.cols-4{
                li{
                  width: 25%;
                }
              }
            }
            &:hover{
              ul{
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:880px) {
  .header {
    .inner2 {
      flex-direction: column;

      >div {
        margin: 5px auto;
      }
    }
  }

  a.mail {
    text-align: center;
  }

  .header-menu {
    padding: 15px 0;
    margin-top: 15px;

    >ul {
      flex-direction: column;
      height: auto;

      >li {
        margin: 5px 0px;
        >a{
          border-bottom: 1px solid transparent;
        }
        &.more {
          >a{
            &::after{
             display: none;
            }
          }
        }
        &.active,
        &:hover{
          >a{
            background: none;
            border-bottom: 1px solid #f60;
          }
        }
      }
    }
  }
}
