.header{
  .inner2{
    max-width: 985px;
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
  }
  .button{
    display: block;
    text-decoration: none;
    font-family: 'Conv_GOTHAPROBLA_0', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #FF6600;
    &:hover{
      background-color:#FF9000;
    }
  }
  a{
      display: block;
      text-decoration: none;
      span:first-child{
        color: #666666;
      }
      span:last-child{
        color: #333333;
        font-size: 18px;
      }
      &.mail{
        color: #0e569e;
      }
  }
  &-menu{
    background-color:#0E569E;
    ul{
      max-width: 985px;
      width: 98%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      padding: 0;
      min-height: 60px;
      align-items: center;
      a{
        color: #fff;
      }
      .more{
        position: relative;
        &:after{
          content:'';
          position: absolute;
          display: block;
          width: 9px;
          height: 6px;
          background-image: url(../img/arow.png);
          background-position: left center;
          left: 50%;
          margin-left: -4.5px;
          margin-top: 5px;
        }
      }
    }
  }
}